body {
  -webkit-app-region: drag;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #1f1f1f;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

#close-btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.urlInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #1f1f1f;
  box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
}

#inputIcon {
  height: 1.3rem;
  width: 1.3rem;
}

#url {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

select {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  background-color: #252525;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.7);
  color: white;
  transition: 0.2s ease-in-out;
}

select:hover {
  background-color: rgba(0, 120, 120, 0.3);
  cursor: pointer;
}

select:focus {
  background-color: #252525;
  box-shadow: none;
}

#choosePathButton {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: #252525;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.7);
  color: white;
}

#choosePathButton:hover {
  background-color: rgba(0, 120, 120, 0.3);
  cursor: pointer;
}

#submit {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: #252525;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.7);
  color: white;
}

#submit:hover {
  background-color: rgba(0, 120, 120, 0.3);
  color: white;
  cursor: pointer;
}

input,
button,
select {
  -webkit-app-region: no-drag;
}
